<div>
    <h1>New Author Form</h1>
    <form action="/authors" method="post">
        {{>_form_fields}}
        <a href="/auth" class="cancel">Cancel</a>
        <button type="submit" class="create">Create</button>
    </form>
</div>